/* ==================== */
/* 1. Общие и глобальные стили */
/* ==================== */

/* Устанавливаем box-sizing для всех элементов и псевдоэлементов */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Задаем высоту html на 100% */
html {  
  block-size: 100%;
}

/* Сброс отступов и полей для основных элементов */
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

/* Убираем маркеры у списков */
ul,
ol {
  list-style: none;
}

/* Базовые стили для кнопок */
button {
  height: 34px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;

  border: 1px solid white;
  font-family: "Fira Sans Condensed", "Arial, sans-serif";
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  
  text-align: center;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid white;
}

button:hover {
  text-decoration: underline;
}

button:active {
  background-color: #545050;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

/* Скрытие элементов с сохранением доступности */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* ==================== */
/* 2. Стили для страницы и контейнеров */
/* ==================== */

/* Основной контейнер страницы */
.page {
  display: flex;
  place-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", "Arial, sans-serif";
  font-size: 18px;
  background-color: #1b1919;
}

/* Основной контентный блок */
.content {
  display: flex;
  flex-direction: row;
  align-items: end;
  align-self: center;
  gap: 30px;
}

/* Контейнер для списка с прокруткой */
.content__list-container {
  position: relative;
  width: 399px;
  height: 298px;
  overflow-y: auto;
}

/* Блок с деталями */
.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 19px;
}

/* Блок с результатами */
.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Контейнер для видео */
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

/* Видео внутри контейнера */
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ==================== */
/* 3. Стили для карточек и списков */
/* ==================== */

/* Список карточек */
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Карточка видео */
.content__video-card {
  width: 390px;
  display: flex;
  flex-direction: row;
  align-items: start;
}

/* Миниатюра видео в карточке */
.content__video-card-thumbnail {
  width: 194px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Контейнер для описания карточки */
.content__video-card-description-container {
  width: 196px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Заголовок карточки */
  .content__video-card-title {
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Описание карточки */
.content__video-card-description {
  font-family: "Fira Sans Condensed", "Arial, sans-serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

/* Ссылка в карточке */
.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
}

/* Стили для активной карточки */
.content__card-link:active {
  background-color: #545050;
}

/* Стили для карточки при наведении */
.content__card-link:hover {
  text-decoration: underline;
}

/* Убираем outline по умолчанию */
.content__card-link:focus {
  outline: none;
}

/* Добавляем outline при фокусе */
.content__card-link:focus-visible {
  outline: 1px solid white;
}

/* Стиль для текущей карточки */
.content__card-link_current {
  background-color: #545050;
}

/* Элемент списка */
.content__list-item {
  padding: 0 3px 0 3px;
}

/* ==================== */
/* 4. Стили для формы поиска */
/* ==================== */

/* Форма поиска */
.search-form {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

/* Поле формы */
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 5px;
}

/* Заголовок поля */
.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", "Arial, sans-serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  
}

/* Список чекбоксов */
.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* Кастомный чекбокс */
.search-form__checkbox + span {
  position: absolute;
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

/* Стиль для отмеченного чекбокса */
.search-form__checkbox[type="checkbox"]:checked + span {
  box-sizing: border-box;
  background-color: white;
}

/* Внутренний элемент отмеченного чекбокса */
.search-form__checkbox[type="checkbox"]:checked + span::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border: 1px solid black;
}

/* Лейбл для чекбокса */
.search-form__label {
  vertical-align: middle;
  cursor: pointer;
}

/* Стиль для лейбла с фокусом */
.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

/* Текст лейбла */
.search-form__label-text {
  margin-left: 24px;
}

/* Текстовое поле ввода */
.search-form__textfield {
  width: 225px;
  background-color: transparent;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-family: "Fira Sans Condensed", "Arial, sans-serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  
  color: inherit;
  appearance: none;
}

/* Убираем outline по умолчанию */
.search-form__textfield:focus {
  outline: none;
}

/* Добавляем outline при фокусе */
.search-form__textfield:has(:focus-visible) {
  outline: 1px solid white;
}

/* Кнопка отправки формы */
.search-form__submit-button {
  width: 194px;
}

/* ==================== */
/* 5. Типографика и акценты */
/* ==================== */

/* Заголовок */
.title {
  font-family: "Oswald", "Arial, sans-serif";
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  
  text-transform: uppercase;
}

/* Акцентный текст */
.content__accent {
  opacity: 0.2;
}

/* ==================== */
/* 6. Кастомный скроллбар */
/* ==================== */

/* Ширина скроллбара */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

/* Трек скроллбара */
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

/* Ползунок скроллбара */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}